html {
    /* max-height: 750px; */
}

body {
    /* height: 750px; */
    font-family: 'Skranji', cursive;
    color: #333;
    /* padding: 50px; */
    /* line-height: 1.5em; */
    background: linear-gradient(180deg, #FFFFFF 0%, #9FEEF4 100%);
    /* background-size: cover; */
    height: 100vh;
    position: relative;
}

#fern-bg {
    padding: 0;
    height: 459px;
    width: 752px;
    position: absolute; 
    bottom: 0;
    left: 0;
    background-image: url(images/fern_bg.png);
    /* background-position: left bottom; */
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Frijole', cursive;
    font-size: 96px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    /* margin-top: 30px; */
}

#container {
    display: flex;
    justify-content: center;
}

#startoverlay {
    width: 70%;
    padding: 30px;
    background: linear-gradient(69.19deg, rgba(117, 149, 75, 0.21) 13.19%, rgba(169, 201, 102, 0.222) 87.8%);
    backdrop-filter: blur(5.5px);
    border: 1px solid #94B36D;
    border-radius: 15px;
    font-size: 24px;
    line-height: 1.5em; 
}

#startoverlay p {
    margin-top: 0;
}

#game-flex {
    display: flex;
    justify-content: center;
}

button { 
    padding: 10px;
    font-size: 36px;
}

div {
    padding: 0;
}

#score1, #score2 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}


.current_player {
    text-shadow: 0 0 6px #6dfb8e, 0 0 8px #aded59;
}

.showing {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 150px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}